# Loan Hack Day Project

*Business Objective:* Determine who is a good customer for their loan repayment. We want to predict which of our customer base will be a good candidate and will repay their loan. Based on certain criteria if they should give their customers a loan.

In [1]:
#import pandas library
import pandas as pd
import numpy as np

In [2]:
#import the train test split function from sklearn library
from sklearn.model_selection import train_test_split

In [3]:
#get the data and name it loan
loan = pd.read_csv('1564688933_LoansTrainingSet.csv')

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#call the loan df
loan

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0
5,0000a149-b055-4a57-b762-280783ccc25e,62ddc017-7023-4ba7-af23-1a7cd16c1ce5,Fully Paid,10208,Short Term,716.0,10+ years,Rent,41853.0,Business Loan,$561.52,13.2,NaN,4,1,2289,4671,1.0,0.0
6,0000afa6-8902-4f8f-b870-25a8fdad0aeb,e49c1a82-a0f7-45e8-9f46-2f75c43f9fbc,Charged Off,24613,Long Term,6640.0,6 years,Rent,49225.0,Business Loan,$542.29,17.6,73.0,7,0,14123,16954,0.0,0.0
7,0000afa6-8902-4f8f-b870-25a8fdad0aeb,e49c1a82-a0f7-45e8-9f46-2f75c43f9fbc,Charged Off,24613,Long Term,NaN,6 years,Rent,NaN,Business Loan,$542.29,17.6,73.0,7,0,14123,16954,0.0,0.0
8,00011dfc-31c1-4178-932a-fbeb3f341efb,ef6e098c-6c83-4752-8d00-ff793e476b8c,Fully Paid,10036,Short Term,NaN,5 years,Rent,NaN,Debt Consolidation,$386.36,17.7,NaN,7,0,11970,16579,0.0,0.0
9,0001cb86-af28-4011-bb86-183786e473ae,4aae67bb-d54b-41ae-8bce-1d62022ed8dd,Fully Paid,2036,Short Term,733.0,NaN,Home Mortgage,55985.0,Debt Consolidation,$741.79,19.8,29.0,7,0,10926,15676,0.0,0.0
10,00020fb0-6b8a-4b3a-8c72-9c4c847e8cb6,c9decd06-16f7-44c3-b007-8776f2a9233d,Fully Paid,99999999,Short Term,742.0,3 years,Home Mortgage,64760.0,Debt Consolidation,$582.84,26.8,NaN,11,0,8880,22711,0.0,0.0
11,0002593b-4973-4f28-8d1c-2b323a125863,c1322b41-c3f5-4395-bda7-a61f848c1f7e,Fully Paid,10233,Short Term,742.0,2 years,Home Mortgage,153495.0,Home Improvements,"$1,573.32",19.2,NaN,8,0,32630,41726,0.0,0.0
12,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17980,Short Term,NaN,< 1 year,Own Home,NaN,Debt Consolidation,$597.50,9.9,43.0,7,0,6817,22800,0.0,0.0
13,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17961,Short Term,701.0,< 1 year,Own Home,53053.0,Debt Consolidation,$596.85,9.9,43.0,7,0,6810,22775,0.0,0.0
14,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17961,Short Term,701.0,< 1 year,Own Home,53053.0,Debt Consolidation,$596.85,9.9,43.0,7,0,6810,22775,0.0,0.0
15,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17980,Short Term,701.0,< 1 year,Own Home,53112.0,Debt Consolidation,$597.50,9.9,43.0,7,0,6817,22800,0.0,0.0
16,0002c691-5314-44ab-b205-3fb1cc4ee6b2,41207d1e-5d13-43ec-9fe9-f222b4da5e0c,Fully Paid,99999999,Short Term,744.0,6 years,Home Mortgage,65605.0,Debt Consolidation,$984.07,21.0,NaN,5,1,11514,17262,1.0,0.0
17,000306fc-516c-48c3-b1c7-7889185dd694,df5577f6-6db3-47ae-9bd7-c4ef7233b4ff,Fully Paid,7587,Short Term,744.0,5 years,Home Mortgage,50580.0,Debt Consolidation,$451.00,18.8,NaN,9,0,8519,15982,0.0,0.0
18,00035328-2636-4390-8322-5841de482d2b,28eb75ac-6a09-4057-b73f-726c72ebf933,Charged Off,11604,Short Term,729.0,6 years,Home Mortgage,35315.0,Debt Consolidation,$662.16,15.0,NaN,12,0,17092,20743,0.0,0.0
19,00035328-2636-4390-8322-5841de482d2b,28eb75ac-6a09-4057-b73f-726c72ebf933,Charged Off,11604,Short Term,729.0,6 years,Home Mortgage,35315.0,Debt Consolidation,$662.16,15.0,NaN,12,0,17092,20743,0.0,0.0
20,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,Charged Off,16929,Long Term,NaN,3 years,Home Mortgage,NaN,Debt Consolidation,$745.70,14.9,NaN,10,0,28513,101110,0.0,0.0
21,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,Charged Off,16929,Long Term,734.0,3 years,Home Mortgage,40308.0,Debt Consolidation,$745.70,14.9,NaN,10,0,28513,101110,0.0,0.0
22,0003b749-307f-4830-9fb4-9db7ed1b1c48,998dc43c-f9ce-466e-bdaa-7057b0bbb9cd,Fully Paid,7228,Short Term,NaN,3 years,Home Mortgage,NaN,Debt Consolidation,$439.56,17.8,NaN,13,1,8488,15866,1.0,0.0
23,0003fbfd-33ee-4ae9-8074-b46f6ff59281,c14bbc84-5041-4e70-bd64-3db51f7e80ae,Fully Paid,99999999,Short Term,745.0,10+ years,Rent,39476.0,other,$483.58,15.4,79.0,12,0,4636,21171,0.0,0.0
24,00045ecd-59e9-4752-ba0d-679ff71692b3,b7bce684-b4b0-4b29-af66-eae316bce573,Fully Paid,11863,Short Term,734.0,10+ years,Own Home,69202.0,Debt Consolidation,$859.26,30.3,NaN,7,0,9959,16995,0.0,0.0
25,0004c11a-bacd-4bd0-98d0-efae9cce56e9,c57b1bbd-6be6-4265-a581-01a96f4a9213,Fully Paid,15395,Long Term,733.0,5 years,Home Mortgage,51984.0,Debt Consolidation,$476.53,19.9,NaN,9,0,2184,8989,0.0,0.0
26,0004d002-a494-4f8a-a528-a6d513812701,4722d542-6684-431c-afb6-ba2e847f1098,Fully Paid,4612,Short Term,NaN,10+ years,Rent,NaN,Debt Consolidation,$262.27,14.0,NaN,4,0,8919,9330,0.0,0.0
27,0004d139-d1fb-44ca-9fa5-f5e2d042b81f,587000a6-a421-417b-a5d5-6b8a04345913,Fully Paid,16906,Long Term,728.0,10+ years,Home Mortgage,204920.0,Debt Consolidation,"$2,185.81",29.6,NaN,14,0,47201,54068,0.0,0.0
28,0004f37b-5859-40f6-98d0-367aa3b3f3f1,f662b062-5fa5-463d-b5c0-4e36d09fcab1,Fully Paid,99999999,Short Term,724.0,1 year,Own Home,34297.0,Home Improvements,$777.38,13.6,2.0,12,0,6720,53335,0.0,0.0
29,000582b2-2b2e-4290-9360-43e3a93b57c2,bafabc36-a32f-489c-9531-896ff66c9171,Fully Paid,16080,Long Term,692.0,10+ years,Rent,63315.0,Debt Consolidation,$321.85,13.8,NaN,10,0,9126,13662,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256954,fff72f03-243b-422c-ab33-cb15e80e4c0d,f5cf8f78-6b65-4805-9b61-46086c441b08,Fully Paid,99999999,Short Term,742.0,10+ years,Rent,118128.0,Debt Consolidation,"$2,608.66",17.0,NaN,17,0,35089,55520,0.0,0.0
256955,fff75529-3a89-4eec-8ae7-e1af1d100bb5,5e21ff96-a8a1-40ca-8c51-0040c1cb8b15,Fully Paid,11057,Short Term,727.0,1 year,Rent,63328.0,Debt Consolidation,"$1,155.73",7.0,NaN,14,0,10116,13071,0.0,0.0
256956,fff8b666-d2b2-4e41-9697-6fff766b115c,87d39022-0a8d-420d-aae0-7e03c307ea9c,Fully Paid,5366,Short Term,737.0,4 years,Rent,44924.0,Debt Consolidation,$345.54,17.0,46.0,12,0,3686,5191,0.0,0.0
256957,fff91d07-3f77-44ee-898c-beaf65da3859,1aa35f79-fa82-42e5-96b8-f9609d5f482a,Fully Paid,9833,Short Term,743.0,6 years,Home Mortgage,83581.0,Debt Consolidation,"$1,643.75",32.8,56.0,10,1,22110,27637,1.0,0.0
256958,fff99ae1-990f-4982-844c-49ba7426c96a,6ede5c70-e6e6-4e96-88d0-01e4d5add013,Fully Paid,10414,Short Term,742.0,9 years,Own Home,30186.0,Debt Consolidation,$286.77,9.9,22.0,8,0,3274,11175,0.0,0.0
256959,fff9b38f-9a27-49d0-8d49-6306f41529eb,f8579c88-cbda-48ce-a542-42fbefccd01d,Fully Paid,9753,Short Term,NaN,2 years,Own Home,NaN,Debt Consolidation,$469.35,23.2,80.0,7,1,5022,9248,1.0,0.0
256960,fff9be8f-d153-4454-bf40-7c3552f4e235,41c7e701-735d-4897-873d-e50295d99303,Fully Paid,15903,Long Term,687.0,2 years,Rent,161296.0,Medical Bills,$430.13,27.0,47.0,9,1,7297,25336,1.0,0.0
256961,fffa2dc8-6407-449a-99dc-12f59928d013,1abe52ef-2414-427a-bf9b-068c60e5352a,Fully Paid,8721,Short Term,726.0,7 years,Home Mortgage,38649.0,Debt Consolidation,$811.63,15.1,NaN,9,1,3860,13592,1.0,0.0
256962,fffaa912-faa8-4bdf-8ff1-fd5884e51c66,d059bcea-3016-48d3-b7e0-c6e618e1f2c3,Fully Paid,6655,Short Term,NaN,10+ years,Rent,NaN,Debt Consolidation,$620.42,11.1,62.0,15,0,7114,18336,0.0,0.0
256963,fffb62c8-6149-4746-8b10-e1d2363f3b31,30e19db5-7ffe-4375-a253-f86dc565dfe8,Fully Paid,99999999,Short Term,738.0,10+ years,Rent,34749.0,Debt Consolidation,$833.98,11.0,25.0,17,0,3146,16050,0.0,0.0
256964,fffbc431-6a56-467c-a5f7-772928f96715,ae7c08b7-6b2e-4763-b148-035bf01c3072,Fully Paid,30327,Long Term,715.0,< 1 year,Rent,163376.0,Debt Consolidation,$820.96,13.9,NaN,8,0,9284,14644,0.0,0.0
256965,fffc297d-74f0-4d42-ad90-cdea2bd9aac0,b8cae6f0-6c9b-4982-bef2-e3cdf48add59,Charged Off,11524,Short Term,NaN,6 years,Home Mortgage,NaN,Debt Consolidation,$790.35,21.4,NaN,23,0,12818,19160,0.0,0.0
256966,fffc297d-74f0-4d42-ad90-cdea2bd9aac0,b8cae6f0-6c9b-4982-bef2-e3cdf48add59,Charged Off,11524,Short Term,725.0,6 years,Home Mortgage,50990.0,Debt Consolidation,$790.35,21.4,NaN,23,0,12818,19160,0.0,0.0
256967,fffc2c5b-2ee2-454b-b82f-16c5d983281d,274e5790-7122-4857-bdd9-93d928b16edc,Fully Paid,9981,Short Term,737.0,6 years,Rent,39924.0,Debt Consolidation,$318.39,11.4,18.0,9,0,10629,19793,0.0,0.0
256968,fffc4837-d6f7-48c7-bc61-78422af92eb6,01511702-6e9f-490e-9fef-0a9dbf1c0e20,Charged Off,10782,Short Term,738.0,5 years,Rent,36787.0,Debt Consolidation,$732.67,9.5,NaN,8,0,13415,16440,0.0,0.0
256969,fffc4837-d6f7-48c7-bc61-78422af92eb6,01511702-6e9f-490e-9fef-0a9dbf1c0e20,Charged Off,10782,Short Term,738.0,5 years,Rent,36787.0,Debt Consolidation,$732.67,9.5,NaN,8,0,13415,16440,0.0,0.0
256970,fffd06e2-01aa-4e93-8ccc-eb626a38cdac,2b469c36-cb73-4fcc-8525-dbfba2601e2c,Fully Paid,99999999,Short Term,734.0,10+ years,Home Mortgage,66809.0,Debt Consolidation,"$1,046.68",12.5,NaN,10,0,10013,28690,0.0,0.0
256971,fffd5218-faf0-4b82-becf-11664fa064a3,301954fb-2381-4d68-a3b0-478870cd49f3,Charged Off,5968,Short Term,746.0,8 years,Own Home,79568.0,Debt Consolidation,"$1,412.33",22.1,63.0,10,1,4237,0,0.0,0.0
256972,fffd5218-faf0-4b82-becf-11664fa064a3,301954fb-2381-4d68-a3b0-478870cd49f3,Charged Off,5968,Short Term,746.0,8 years,Own Home,79568.0,Debt Consolidation,"$1,412.33",22.1,63.0,10,1,4237,0,0.0,0.0
256973,fffe36ec-97a6-460a-a236-640b7e0669f0,6520de3e-5961-47b1-bced-6a8132acb5cc,Charged Off,10575,Long Term,NaN,< 1 year,Rent,NaN,Debt Consolidation,$707.08,14.8,NaN,18,0,20183,23496,0.0,0.0
256974,fffe36ec-97a6-460a-a236-640b7e0669f0,6520de3e-5961-47b1-bced-6a8132acb5cc,Charged Off,10575,Long Term,722.0,< 1 year,Rent,30854.0,Debt Consolidation,$707.08,14.8,NaN,18,0,20183,23496,0.0,0.0
256975,fffe5140-8725-4fd1-b3bf-9e59cb7834eb,df856c29-ce44-4df7-94a6-bd758a1c1332,Charged Off,34710,Short Term,700.0,9 years,Rent,148755.0,Business Loan,$47.11,34.0,1.0,3,0,2590,37004,0.0,0.0
256976,fffe5140-8725-4fd1-b3bf-9e59cb7834eb,df856c29-ce44-4df7-94a6-bd758a1c1332,Charged Off,34710,Short Term,700.0,9 years,Rent,148755.0,Business Loan,$47.11,34.0,1.0,3,0,2590,37004,0.0,0.0
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,Charged Off,11953,Short Term,7170.0,10+ years,Home Mortgage,39844.0,Debt Consolidation,$982.82,11.7,NaN,9,1,4176,4783,1.0,0.0
256978,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,Charged Off,11953,Short Term,717.0,10+ years,Home Mortgage,39844.0,Debt Consolidation,$982.82,11.7,NaN,9,1,4176,4783,1.0,0.0
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,"$1,706.58",19.9,NaN,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.0,Debt Consolidation,"$1,376.47",19.1,47.0,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.0,Debt Consolidation,"$2,525.82",18.0,11.0,10,0,28317,62371,0.0,0.0

*Note:* We have a loan and customer id. It is important to note that we could have multiple loan id for one particular customer. Loan status signifies if a customer has paid off any given loan or not. Charged off means banks had to take a loss, so the bank had to write it off.

every loan should have a diff load id, but the customer id would be repeated. if a customer id is repeated its okay (because you may have multple loans) but a loan ID should not be repeated.

In [5]:
#show summary for numerical and categorical data
loan.describe(include='all')

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,256984,256984,256984,2.569840e+05,256984,195308.000000,245508,256984,1.953080e+05,256984,256984,256984.000000,116601.000000,256984.000000,256984.000000,2.569840e+05,256984.0,256455.000000,256961.000000
unique,215700,215700,2,NaN,2,NaN,11,4,NaN,10,129115,NaN,NaN,NaN,NaN,NaN,87188.0,NaN,NaN
top,e9fc7543-b166-4a95-8744-dfbb75cc9ba4,96f375a2-6314-4abf-a50e-e4c02aed77d1,Fully Paid,NaN,Short Term,NaN,10+ years,Home Mortgage,NaN,Debt Consolidation,$0.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
freq,4,4,176191,NaN,192632,NaN,78896,124477,NaN,203911,254,NaN,NaN,NaN,NaN,NaN,1597.0,NaN,NaN
mean,NaN,NaN,NaN,1.371331e+07,NaN,1251.116099,NaN,NaN,7.195272e+04,NaN,NaN,18.290195,34.881450,11.106267,0.156628,1.540656e+04,NaN,0.110316,0.027203
std,NaN,NaN,NaN,3.438131e+07,NaN,1762.016848,NaN,NaN,5.887757e+04,NaN,NaN,7.075747,21.854165,4.982982,0.460731,1.966506e+04,NaN,0.336229,0.245950
min,NaN,NaN,NaN,5.050000e+02,NaN,585.000000,NaN,NaN,0.000000e+00,NaN,NaN,3.400000,0.000000,0.000000,0.000000,0.000000e+00,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,8.299000e+03,NaN,714.000000,NaN,NaN,4.432100e+04,NaN,NaN,13.500000,16.000000,8.000000,0.000000,5.974000e+03,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,1.429800e+04,NaN,733.000000,NaN,NaN,6.124200e+04,NaN,NaN,17.000000,32.000000,10.000000,0.000000,1.107800e+04,NaN,0.000000,0.000000
75%,NaN,NaN,NaN,2.436700e+04,NaN,744.000000,NaN,NaN,8.646200e+04,NaN,NaN,21.700000,51.000000,14.000000,0.000000,1.931900e+04,NaN,0.000000,0.000000
max,NaN,NaN,NaN,1.000000e+08,NaN,7510.000000,NaN,NaN,8.713547e+06,NaN,NaN,70.500000,176.000000,76.000000,11.000000,1.731412e+06,NaN,7.000000,11.000000

*Note*: the difference between loan id count and loan id unique count. this means that we have repeated loan ids. you can't have the same loan id for different loans. so we need to find out how many of the rows are duplicated and then get rid of the duplicates.

In [6]:
#use the fucntion n unique to idenitfy the duplicates of loan id
loan['Loan ID'].nunique()

215700

In [7]:
loan['Loan ID'].count()

256984

In [8]:
loan['Loan ID'].count() - loan['Loan ID'].nunique()

41284

In [9]:
#whats the max number of times a loan id was repeated
loan['Loan ID'].value_counts()

e9fc7543-b166-4a95-8744-dfbb75cc9ba4    4
9aa5a9c3-eb3d-4c4d-b8a6-8cf5b18d4b28    4
aa92b16b-9153-434c-816a-e84104fc04c9    4
1f5d70e2-f6f1-4f74-9c93-ed9f02b077d4    4
aea790fa-2538-43f9-bd0f-48ade7983170    4
100831df-bac2-4846-a3b7-08a06db4c62a    4
50601504-1e70-4588-8271-6bf215333a8c    4
8ccf2f1c-9cfe-4879-869e-784ad1c28a91    4
deab27c3-ebd0-45f9-be33-15d2b5ab05ca    4
e6bd4d3c-b4cc-4f96-9b97-b36a601a4c43    4
ecc46fbc-e073-4498-b31e-efcf25c9195c    4
a2f45ad3-c591-4710-96a8-8ae9abb4a202    4
dacf2b1e-2498-498c-9791-5ff59c38d2b8    4
6f31a5bb-a7c0-46cd-a652-2a7d9fcfdb58    4
d1f3209e-bc78-44a2-85fe-f4120a0c3b4e    4
9fa4e052-1e55-42d8-bf98-e8e387f02b97    4
461404ca-f8f2-4197-8b5a-9d2b54cb2d7c    4
25e97bdf-5076-48e0-8651-a638c8bde663    4
a3c7a721-9f2e-43f7-90b9-0842107a3eab    4
7b6dd60f-f8aa-4e39-b411-9a6ed4e67dc2    4
b06360f5-1682-4796-a00f-287584e17f8e    4
342b4ed3-40e1-482d-b116-c2ac088a9131    4
6ec4ca9f-69a8-4667-a16e-3e50a947f53a    4
af6369bc-e3be-4812-a885-4610f6037ffb    4
ee15d873-2c06-40bf-8e8a-6f872b8043bf    4
8c55ae84-a231-402a-a6cc-4a96e8f68186    4
e626c608-b0a9-4d71-a3c3-df5a7ec1e84d    4
714f321f-056c-48dd-a3e2-8faccff555ca    4
ebf271f7-0633-412c-8bcc-21a8f62214e6    4
30cc5899-feaf-43c9-898d-28285ff95cd2    4
                                       ..
a68c4dec-edeb-4b8a-89e1-43beef2b8f66    1
49c1bfa7-704d-4875-a5a5-d665c626291f    1
4ca2ecf4-84fd-4d9b-ae5c-66bf444b0adf    1
95744aa5-e04a-4e35-a2c3-439b7b0ebe06    1
35dd4ed3-5ef0-4b97-84d6-b27c67cdff45    1
b3dbfa93-cc14-4880-8424-15d48b7d06d8    1
c2af330e-6b99-4181-a43f-c3e7eafdd725    1
fb2bc5fd-33de-43ec-88ca-14d10e1f06dc    1
52d7eb91-9891-42a5-af0f-053f243dfec8    1
4d9e4dcd-d89c-4212-a487-5941fe13ec88    1
d78f1cce-94bd-487c-a852-416a5ee92772    1
89d2b7fc-a972-4793-a7ea-583ab2b52b92    1
5718978c-f154-4622-acbb-1ddee64f8d1b    1
a038799d-eaec-4422-b320-fc941c2ea6c2    1
065ff381-1951-4cc8-8372-41b2e5377332    1
a5d02303-abdb-4482-8003-4cb11e03a909    1
50310271-9bc7-4471-bce7-8c731e9f305b    1
021bff5f-8178-4a13-bded-1761265dc896    1
70622dc7-0600-4754-b30d-1e6aab1fb453    1
575e27bf-783c-45fc-8fb1-fde32b32a558    1
bbeeb9d8-1401-42c6-bb3c-afd2d4f7c2f2    1
cfb9e90c-f069-414a-a1b3-41f6c1e67087    1
7f51d37c-72bd-4cdf-be4b-66bb70eb5559    1
57644767-8334-4835-8718-8dc11b49b266    1
bfd3a2fe-a4fc-4cd6-aea2-ba89631f6abe    1
747095d7-c5ca-486a-a396-96f15d6fada6    1
be8aa119-5872-4a4e-991d-09c65fbec246    1
2e03d436-55fc-4538-9719-b84883650955    1
fd6c7706-bfa1-4af7-83ad-8430a39b23ab    1
fa8120f3-2d50-4994-8fb4-419b74ce099a    1
Name: Loan ID, Length: 215700, dtype: int64

based on the output we can see that some of the loan ids were duplicated up to 4x. we should be left with 215k rows after we remove duplicates (how we know we successfully removed the correct amount).

In [10]:
# drop duplicates based on loan id
loan.drop_duplicates(subset='Loan ID', inplace=True)

In [11]:
loan.shape

(215700, 19)

we were successful because this output showed the correct number of rows. now we can split the dataframe.

# Assign Indep. & Dependent Variables

Loan status would be your dependent variable.
Everything else is an x variable.

In [12]:
#assign the dependent variable, your y
y = loan['Loan Status']

In [13]:
#assign x as everything else other than loan status
X = loan.drop(['Loan Status'], axis=1)

# Split the Data

In [14]:
#split the data
from sklearn.model_selection import train_test_split
#out of 100% of the data, 20% we will allocate to test, 80% to train
#(arguments: X= all the other columns/ variables, Y is the Loan Status)
# .2 
#when you do train test split, divide entire df into into these 4 pieces, or df(s)
X_loan_train, X_loan_test, y_loan_train, y_loan_test = train_test_split(X,y,test_size=0.2)

once complete, test_train_split, we have to check the shape of the 4 dataframes

In [15]:
X_loan_train.shape, X_loan_test.shape, y_loan_train.shape, y_loan_test.shape

((172560, 18), (43140, 18), (172560,), (43140,))

this validates that our x and y of training and testing dataframes are equivalent (same # of rows must be same for the dependent and indep. variables from each dataframe. now we can move on..

# Begin Training Dataset Work

We need to find out how many columns are numeric and how many are object. We need to convert all object columns into numeric becuase the computer can only read numbers.

In [16]:
X_loan_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172560 entries, 88212 to 19027
Data columns (total 18 columns):
Loan ID                         172560 non-null object
Customer ID                     172560 non-null object
Current Loan Amount             172560 non-null int64
Term                            172560 non-null object
Credit Score                    128544 non-null float64
Years in current job            165358 non-null object
Home Ownership                  172560 non-null object
Annual Income                   128544 non-null float64
Purpose                         172560 non-null object
Monthly Debt                    172560 non-null object
Years of Credit History         172560 non-null float64
Months since last delinquent    77990 non-null float64
Number of Open Accounts         172560 non-null int64
Number of Credit Problems       172560 non-null int64
Current Credit Balance          172560 non-null int64
Maximum Open Credit             172560 non-null object
Bankruptcies                    172190 non-null float64
Tax Liens                       172542 non-null float64
dtypes: float64(6), int64(4), object(8)
memory usage: 25.0+ MB

Now we have to find out the missing values for each of the dataframes.

## X_loan_train Data Cleaning

In [17]:
#show us a summary off all the empty fields by column name
X_loan_train.isnull().sum()

Loan ID                             0
Customer ID                         0
Current Loan Amount                 0
Term                                0
Credit Score                    44016
Years in current job             7202
Home Ownership                      0
Annual Income                   44016
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    94570
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                      370
Tax Liens                          18
dtype: int64

*Note:* we will have to fill in data points for 6 columns. We will start with the smallest amount of values to fill. Be sure to distinguish which are object. Years in current job is object that has to be converted to numeric.

Cleaning to do list: Tax Liens, Bankruptcies, Months since last delinquent, Annual Income, Years in current job, Credit score. 

Object: Years in current job
Numeric: Tax Liens, Bankruptcies, Months since last delinquent, Annual Income, Credit score. 
(we find this out when we did .info()

### Clean: Tax Liens

In [18]:
#show us the mean and the median
X_loan_train['Tax Liens'].describe()

count    172542.000000
mean          0.026133
std           0.239139
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.000000
Name: Tax Liens, dtype: float64

In [19]:
#show us our unique values, tells us all the diff values
#count the nulls also
X_loan_train['Tax Liens'].value_counts(dropna=False)

0.0     169501
1.0       2179
2.0        565
3.0        151
4.0         71
5.0         37
NaN         18
6.0         18
8.0          7
7.0          5
9.0          3
10.0         3
11.0         2
Name: Tax Liens, dtype: int64

We can see here that 17 people had null values. 170k people had 0 tax liens. We can pick the mean or the median because they are very close to eachother. median is 0, mean is .02.

In [20]:
X_loan_train['Tax Liens'].fillna(X_loan_train['Tax Liens'].mean(), inplace=True)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [21]:
#double check that there are no more null values for this column
X_loan_train['Tax Liens'].isnull().sum()

0

### Clean: Bankruptcies

In [22]:
X_loan_train.Bankruptcies.describe()

count    172190.000000
mean          0.110088
std           0.336585
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: Bankruptcies, dtype: float64

In [23]:
X_loan_train.Bankruptcies.value_counts(dropna=False)

0.0    154257
1.0     17124
2.0       650
NaN       370
3.0       125
4.0        18
5.0        12
6.0         3
7.0         1
Name: Bankruptcies, dtype: int64

In [24]:
X_loan_train.Bankruptcies.isnull().sum()

370

In [25]:
X_loan_train.Bankruptcies.fillna(X_loan_train.Bankruptcies.mean(), inplace=True)

In [26]:
X_loan_train.Bankruptcies.isnull().sum()

0

### Clean: Months since last delinquent

In [27]:
X_loan_train['Months since last delinquent'].describe()

count    77990.000000
mean        35.082062
std         21.822405
min          0.000000
25%         17.000000
50%         32.000000
75%         51.000000
max        176.000000
Name: Months since last delinquent, dtype: float64

In [28]:
X_loan_train['Months since last delinquent'].value_counts(dropna=False)

NaN      94570
14.0      1484
12.0      1455
9.0       1422
8.0       1407
18.0      1404
15.0      1379
10.0      1370
17.0      1359
16.0      1359
7.0       1355
13.0      1354
6.0       1349
11.0      1334
19.0      1318
20.0      1291
30.0      1287
21.0      1267
23.0      1265
28.0      1249
27.0      1247
25.0      1244
26.0      1232
22.0      1224
24.0      1212
31.0      1190
29.0      1186
35.0      1148
34.0      1146
36.0      1143
         ...
120.0        2
106.0        2
92.0         2
93.0         2
110.0        2
104.0        2
101.0        2
118.0        1
131.0        1
107.0        1
133.0        1
116.0        1
109.0        1
113.0        1
115.0        1
122.0        1
114.0        1
130.0        1
108.0        1
98.0         1
97.0         1
176.0        1
119.0        1
140.0        1
112.0        1
143.0        1
151.0        1
134.0        1
148.0        1
149.0        1
Name: Months since last delinquent, Length: 130, dtype: int64

In [29]:
X_loan_train['Months since last delinquent'].fillna(X_loan_train['Months since last delinquent'].mean(), inplace=True)

In [30]:
X_loan_train['Months since last delinquent'].isnull().sum()

0

### Clean: Annual Income

In [31]:
X_loan_train['Annual Income'].value_counts(dropna=False)

NaN         44016
60828.0        22
60684.0        21
50255.0        21
61044.0        20
51235.0        20
60348.0        19
61488.0        19
59436.0        19
60150.0        19
49175.0        19
60072.0        19
46017.0        19
60522.0        18
60804.0        18
50505.0        18
45734.0        18
51000.0        18
71071.0        18
50825.0        18
60024.0        18
48955.0        18
61014.0        18
61134.0        18
61098.0        18
59346.0        18
58872.0        18
60744.0        18
59202.0        17
61188.0        17
            ...
101036.0        1
224312.0        1
108019.0        1
89153.0         1
155017.0        1
192090.0        1
24173.0         1
31355.0         1
78767.0         1
77502.0         1
22290.0         1
104177.0        1
118413.0        1
77505.0         1
60963.0         1
713262.0        1
243850.0        1
133698.0        1
36859.0         1
106395.0        1
60962.0         1
19556.0         1
55141.0         1
52307.0         1
77515.0         1
106392.0        1
25951.0         1
110958.0        1
26738.0         1
15374.0         1
Name: Annual Income, Length: 52362, dtype: int64

In [32]:
X_loan_train['Annual Income'].describe()

count    1.285440e+05
mean     7.335127e+04
std      6.029228e+04
min      4.033000e+03
25%      4.498550e+04
50%      6.286500e+04
75%      8.843400e+04
max      8.713547e+06
Name: Annual Income, dtype: float64

In [33]:
X_loan_train['Annual Income'].fillna(X_loan_train['Annual Income'].mean(), inplace=True)

In [34]:
X_loan_train['Annual Income'].isnull().sum()

0

### Clean: Credit Score

In [35]:
X_loan_train['Credit Score'].describe()

count    128544.000000
mean       1298.960675
std        1828.366897
min         585.000000
25%         718.000000
50%         736.000000
75%         745.000000
max        7510.000000
Name: Credit Score, dtype: float64

In [36]:
#of these stats, we want to know how includenced our mean etc is by null values
#we can see that 44k fields are empty
X_loan_train['Credit Score'].value_counts(dropna=False)

NaN       44016
747.0      4207
746.0      3991
741.0      3866
740.0      3856
742.0      3685
745.0      3671
743.0      3609
748.0      3578
739.0      3532
744.0      3363
738.0      3182
737.0      3161
750.0      2984
736.0      2471
735.0      2409
734.0      2402
732.0      2303
733.0      2303
731.0      2192
729.0      2036
749.0      2011
730.0      2009
728.0      1889
751.0      1848
726.0      1705
727.0      1664
725.0      1628
724.0      1536
721.0      1503
          ...
585.0         7
6160.0        7
5890.0        7
589.0         6
6010.0        6
6020.0        6
6150.0        6
6090.0        5
5970.0        5
6060.0        4
5920.0        4
6040.0        4
5950.0        4
5960.0        3
6070.0        3
5880.0        3
6000.0        3
6050.0        3
5990.0        3
5850.0        3
6120.0        3
5940.0        2
6030.0        2
5910.0        2
5900.0        2
5870.0        2
6140.0        2
5980.0        1
5930.0        1
5860.0        1
Name: Credit Score, Length: 335, dtype: int64

We see some weird patterns here. Credit scores by nature are 3 digits. We see there is a subset of 4 digits. We need to split the data and use the lambda function to divide any number greater than 999 (a random number that no credit score can possibly be that also seperates 3 digit from 4 digit numbers) by 10. The null values in our dataframe may impact our caluculation so we make all null values 0.

In [37]:
X_loan_train['Credit Score'].fillna(0, inplace=True)

In [38]:
#anythign that was greater than 999, we divided by 10
X_loan_train['Credit Score'] =  X_loan_train['Credit Score'].apply(lambda x : x / 10  if x > 999 else x)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
#this confirms that we successfully completed the lambda function b/c our max # is 751, not in the 1000s
X_loan_train['Credit Score'].max()

751.0

In [40]:
X_loan_train['Credit Score'].describe()

count    172560.000000
mean        538.979538
std         316.210216
min           0.000000
25%           0.000000
50%         721.000000
75%         739.000000
max         751.000000
Name: Credit Score, dtype: float64

In [41]:
#since mean and median are pretty far apart, i will elect to use median
X_loan_train['Credit Score'].median()

721.0

In [42]:
X_loan_train['Credit Score'].replace(0.0, X_loan_train['Credit Score'].median(), inplace=True)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [43]:
X_loan_train['Credit Score'].describe()

count    172560.000000
mean        722.889691
std          22.737231
min         585.000000
25%         721.000000
50%         721.000000
75%         739.000000
max         751.000000
Name: Credit Score, dtype: float64

In [44]:
X_loan_train['Credit Score'].isnull().sum()

0

this confirms that we successfully filled in all 0 values with the median

### Clean: Years in Current Job

In [45]:
#confirm the amount of null values we have
X_loan_train['Years in current job'].isnull().sum()

7202

In [46]:
X_loan_train['Years in current job'].unique()

array(['10+ years', '1 year', '2 years', '7 years', '< 1 year', '5 years',
       nan, '4 years', '8 years', '3 years', '9 years', '6 years'],
      dtype=object)

In [47]:
X_loan_train['Years in current job'].replace(['10+ years', '5 years', '1 year', np.nan, '2 years', '< 1 year','7 years', '8 years', '3 years', '9 years', '6 years', '4 years'], [10.5, 5.0, 1.0, 0.0, 2.0, 0.5, 7.0, 8.0, 3.0, 9.0, 6.0, 4.0], inplace=True)

In [48]:
#lets check to make sure our strings were replaced with floats
X_loan_train['Years in current job'].unique()

array([10.5,  1. ,  2. ,  7. ,  0.5,  5. ,  0. ,  4. ,  8. ,  3. ,  9. ,
        6. ])

In [49]:
#double checked that we got rid of all null values
X_loan_train['Years in current job'].isnull().sum()

0

everything looks good so let's double check that we cleared all the null values

In [50]:
#we have to convert all object into numeric
X_loan_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172560 entries, 88212 to 19027
Data columns (total 18 columns):
Loan ID                         172560 non-null object
Customer ID                     172560 non-null object
Current Loan Amount             172560 non-null int64
Term                            172560 non-null object
Credit Score                    172560 non-null float64
Years in current job            172560 non-null float64
Home Ownership                  172560 non-null object
Annual Income                   172560 non-null float64
Purpose                         172560 non-null object
Monthly Debt                    172560 non-null object
Years of Credit History         172560 non-null float64
Months since last delinquent    172560 non-null float64
Number of Open Accounts         172560 non-null int64
Number of Credit Problems       172560 non-null int64
Current Credit Balance          172560 non-null int64
Maximum Open Credit             172560 non-null object
Bankruptcies                    172560 non-null float64
Tax Liens                       172560 non-null float64
dtypes: float64(7), int64(4), object(7)
memory usage: 25.0+ MB

Let's decide which columns we want to make dummies for, and which columns we want to convert to int/float.

1. _identify_ which columns are object:
    (loan and customer id don't count)
    a. Term
    b. Home Ownership
    c. Purpose
    d. Monthly Debt
    e. Maximum Open Credit
   
2. which columns should we classified as an _integar or a float_?
    a. Monthly Debt: how much you owe on a monthly basis is a numerical value
    b: Maximum Open Credit: is best classified as a number
    
3. _dummies:_ (as long as we assign values we can use any many unique values as we want)
    a. Term: because this is binary entry. you can either be in a short term or long term.
    b. Home Ownership: you can either be a renter, home owner or morgage. 
    c. Purpose: equal chance user needs loan for student debt or house payment or car payment, etc
    
4. we want to convert the numeric values first because _dummies we create just before we start modeling_

### Convert Monthly Loan: Object to Numeric

In [51]:
#convert this columns values into numeric values
#in coerce if  there is an error it will convert the value into a null value
# if you have an '=' sign you cannot use inplace
#X_loan_train['Monthly Debt'] = pd.to_numeric(X_loan_train['Monthly Debt'], errors='coerce')

In [52]:
X_loan_train['Monthly Debt'] = X_loan_train['Monthly Debt'].replace( '[\$, ]','', regex=True ).astype(float)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Had to rework this line of code several times when looking at my .info, because it showed that I had 0 rows. What happened is that all the monthly fields were not consistantly inputted. My first thought was oh, let me standardize the data by getting rid of the $, because it seems it's infront of some numbers and not others. After applying info, my rows were still zero'd out, so this incosistency went beyond just dollar signs. Then I checked for a comma and a space. perhaps the data got loaded with an additional space or was entered with a , as opposed to a. . That still gave me a 0 row count. So the third time, I tried removing the $ and converting the object into a float data type.

In [53]:
#check the data to see if worked
X_loan_train['Monthly Debt'].head()

88212      214.56
48977      422.71
97238      771.83
212487     529.08
144797    2305.58
Name: Monthly Debt, dtype: float64

### Convert Maximum Open Credit: Object to Numeric

In [113]:
X_loan_train['Maximum Open Credit'].unique()

array([ 60977.,  49214., 168303., ...,  48204.,  36590.,  77094.])

In [114]:
X_loan_train['Maximum Open Credit'].fillna(0, inplace=True)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

since output is an array that consists of strings, we can move forward and convert all values into numeric values.

In [115]:
X_loan_train['Maximum Open Credit'] = pd.to_numeric(X_loan_train['Maximum Open Credit'], errors='coerce')

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [116]:
X_loan_train['Maximum Open Credit'].isnull().sum()

0

In [58]:
X_loan_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172560 entries, 88212 to 19027
Data columns (total 18 columns):
Loan ID                         172560 non-null object
Customer ID                     172560 non-null object
Current Loan Amount             172560 non-null int64
Term                            172560 non-null object
Credit Score                    172560 non-null float64
Years in current job            172560 non-null float64
Home Ownership                  172560 non-null object
Annual Income                   172560 non-null float64
Purpose                         172560 non-null object
Monthly Debt                    172560 non-null float64
Years of Credit History         172560 non-null float64
Months since last delinquent    172560 non-null float64
Number of Open Accounts         172560 non-null int64
Number of Credit Problems       172560 non-null int64
Current Credit Balance          172560 non-null int64
Maximum Open Credit             172558 non-null float64
Bankruptcies                    172560 non-null float64
Tax Liens                       172560 non-null float64
dtypes: float64(9), int64(4), object(5)
memory usage: 25.0+ MB

there's some issue with the values within Monthly Debt because it erased everything, there could be some value fields . in maximum open credit, there are two null values that we have to fix.

In [59]:
X_loan_train['Maximum Open Credit'].describe()

count    1.725580e+05
mean     3.630438e+04
std      5.019532e+05
min      0.000000e+00
25%      1.297525e+04
50%      2.207800e+04
75%      3.679500e+04
max      1.516913e+08
Name: Maximum Open Credit, dtype: float64

In [117]:
X_loan_train['Maximum Open Credit'].isnull().sum()

0

## Clean: X_Loan_test

We have to do the same thing for X_Test as we did for X_train

In [61]:
#show us a summary off all the empty fields by column name
X_loan_test.isnull().sum()

Loan ID                             0
Customer ID                         0
Current Loan Amount                 0
Term                                0
Credit Score                    10992
Years in current job             1788
Home Ownership                      0
Annual Income                   10992
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    23692
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                       82
Tax Liens                           4
dtype: int64

### Clean (Test): Tax Liens

In [62]:
#show us the mean and the median
X_loan_test['Tax Liens'].describe()

count    43136.000000
mean         0.027124
std          0.247593
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          9.000000
Name: Tax Liens, dtype: float64

In [63]:
#show us our unique values, tells us all the diff values
#count the nulls also
X_loan_test['Tax Liens'].value_counts(dropna=False)

0.0    42380
1.0      522
2.0      142
3.0       44
4.0       26
5.0       11
6.0        8
NaN        4
9.0        2
7.0        1
Name: Tax Liens, dtype: int64

In [64]:
#fill all null values with the mean
X_loan_test['Tax Liens'].fillna(X_loan_test['Tax Liens'].mean(), inplace=True)

In [65]:
#double check that there are no more null values for this column
X_loan_test['Tax Liens'].isnull().sum()

0

### Clean(Test): Bankruptcies

In [66]:
#observe mean and median, we also look at our min and max to see how mean/med is affected
X_loan_test.Bankruptcies.describe()

count    43058.000000
mean         0.112430
std          0.337922
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          5.000000
Name: Bankruptcies, dtype: float64

In [67]:
X_loan_test.Bankruptcies.value_counts(dropna=False)

0.0    38470
1.0     4382
2.0      168
NaN       82
3.0       30
4.0        7
5.0        1
Name: Bankruptcies, dtype: int64

In [68]:
X_loan_test.Bankruptcies.isnull().sum()

82

In [69]:
X_loan_test.Bankruptcies.fillna(X_loan_test.Bankruptcies.mean(), inplace=True)

In [70]:
X_loan_test.Bankruptcies.isnull().sum()

0

### Clean (Test) : Months since last delinquent

In [71]:
X_loan_test['Months since last delinquent'].describe()

count    19448.000000
mean        34.830985
std         21.763171
min          0.000000
25%         16.000000
50%         32.000000
75%         51.000000
max        139.000000
Name: Months since last delinquent, dtype: float64

In [72]:
X_loan_test['Months since last delinquent'].value_counts(dropna=False)

NaN      23692
15.0       407
12.0       386
8.0        380
7.0        364
16.0       364
13.0       358
14.0       345
17.0       341
9.0        340
10.0       340
23.0       336
25.0       328
22.0       323
19.0       321
32.0       316
21.0       313
33.0       312
20.0       310
6.0        307
34.0       306
18.0       304
28.0       302
26.0       301
30.0       299
29.0       291
38.0       287
27.0       285
11.0       285
31.0       285
         ...
67.0       152
75.0       147
70.0       146
74.0       136
69.0       136
77.0       134
79.0       128
80.0       125
76.0       123
1.0        119
81.0       115
78.0       113
0.0         90
82.0        42
83.0         7
88.0         2
95.0         2
92.0         2
131.0        2
106.0        1
90.0         1
94.0         1
96.0         1
84.0         1
86.0         1
139.0        1
102.0        1
89.0         1
85.0         1
130.0        1
Name: Months since last delinquent, Length: 100, dtype: int64

In [73]:
X_loan_test['Months since last delinquent'].fillna(X_loan_test['Months since last delinquent'].mean(), inplace=True)

In [74]:
X_loan_test['Months since last delinquent'].isnull().sum()

0

### Clean (Test) : Annual Income

In [75]:
X_loan_test['Annual Income'].value_counts(dropna=False)

NaN         10992
59346.0         8
50170.0         8
49485.0         8
39996.0         7
50455.0         7
49585.0         7
61188.0         7
50720.0         7
39664.0         7
39228.0         7
49630.0         7
58584.0         7
61500.0         7
69496.0         7
51130.0         7
35088.0         7
65650.0         7
60834.0         7
50490.0         7
51190.0         7
60720.0         7
49990.0         7
63850.0         7
40676.0         6
60084.0         6
49995.0         6
58722.0         6
63460.0         6
50955.0         6
            ...
34808.0         1
88834.0         1
25249.0         1
108434.0        1
43002.0         1
70602.0         1
81808.0         1
42227.0         1
139236.0        1
129795.0        1
49310.0         1
42674.0         1
89970.0         1
278465.0        1
60304.0         1
155605.0        1
278462.0        1
24995.0         1
53752.0         1
33919.0         1
52742.0         1
56692.0         1
67844.0         1
55286.0         1
56707.0         1
51397.0         1
69019.0         1
85995.0         1
80647.0         1
47132.0         1
Name: Annual Income, Length: 22376, dtype: int64

In [76]:
X_loan_test['Annual Income'].describe()

count    3.214800e+04
mean     7.317753e+04
std      4.896951e+04
min      4.699000e+03
25%      4.495675e+04
50%      6.262100e+04
75%      8.835300e+04
max      1.919760e+06
Name: Annual Income, dtype: float64

In [77]:
X_loan_test['Annual Income'].fillna(X_loan_test['Annual Income'].mean(), inplace=True)

In [78]:
X_loan_train['Annual Income'].isnull().sum()

0

### Clean (Test): Credit Score

In [79]:
X_loan_test['Credit Score'].describe()

count    32148.000000
mean      1293.362573
std       1819.325265
min        585.000000
25%        718.000000
50%        736.000000
75%        745.000000
max       7510.000000
Name: Credit Score, dtype: float64

In [80]:
#of these stats, we want to know how includenced our mean etc is by null values
#we can see that 11k fields are empty
X_loan_test['Credit Score'].value_counts(dropna=False)

NaN       10992
747.0      1084
746.0      1023
740.0      1019
742.0       966
741.0       940
743.0       924
744.0       907
745.0       905
739.0       896
748.0       886
737.0       788
738.0       781
750.0       725
735.0       641
734.0       625
733.0       594
736.0       579
732.0       577
729.0       532
731.0       523
728.0       521
730.0       509
749.0       497
751.0       448
726.0       417
727.0       409
724.0       387
725.0       386
723.0       368
          ...
6530.0        3
6020.0        2
609.0         2
6170.0        2
6320.0        2
5980.0        2
6030.0        2
6140.0        2
6340.0        2
6230.0        2
6180.0        2
6040.0        2
5870.0        2
593.0         2
6050.0        2
6080.0        2
6410.0        2
591.0         1
5970.0        1
6010.0        1
5950.0        1
5960.0        1
588.0         1
5940.0        1
5930.0        1
602.0         1
6130.0        1
6190.0        1
5910.0        1
585.0         1
Name: Credit Score, Length: 320, dtype: int64

In [81]:
X_loan_test['Credit Score'].fillna(0, inplace=True)

In [82]:
#anythign that was greater than 999, we divided by 10
X_loan_test['Credit Score'] =  X_loan_test['Credit Score'].apply(lambda x : x / 10  if x > 999 else x)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
#this confirms that we successfully completed the lambda function b/c our max # is 751, not in the 1000s
X_loan_test['Credit Score'].max()

751.0

In [84]:
#note: it is by chance that the max number in our train and test is both 751

In [85]:
X_loan_test['Credit Score'].describe()

count    43140.000000
mean       539.289662
std        316.169965
min          0.000000
25%          0.000000
50%        721.000000
75%        739.000000
max        751.000000
Name: Credit Score, dtype: float64

In [86]:
#since mean and median are pretty far apart, i will elect to use median
X_loan_test['Credit Score'].median()

721.0

In [87]:
#replace all the values of 0.0 with median
X_loan_test['Credit Score'].replace(0.0, X_loan_test['Credit Score'].median(), inplace=True)

In [88]:
X_loan_test['Credit Score'].describe()

count    43140.000000
mean       722.999258
std         22.829207
min        585.000000
25%        721.000000
50%        721.000000
75%        739.000000
max        751.000000
Name: Credit Score, dtype: float64

In [89]:
X_loan_test['Credit Score'].isnull().sum()

0

### Clean (Test): Years in Current Job

In [90]:
#confirm the amount of null values we have
X_loan_test['Years in current job'].isnull().sum()

1788

In [91]:
#see if there are multiple types of values
X_loan_test['Years in current job'].unique()

array(['10+ years', '8 years', '2 years', '6 years', '4 years', '5 years',
       '9 years', '< 1 year', '3 years', nan, '1 year', '7 years'],
      dtype=object)

In [92]:
#thankfully all the same values (by nature of array output)
#but computer won't be able to understand values like 10+ so we rename them with floats
X_loan_test['Years in current job'].replace(['10+ years', '5 years', '1 year', np.nan, '2 years', '< 1 year','7 years', '8 years', '3 years', '9 years', '6 years', '4 years'], [10.5, 5.0, 1.0, 0.0, 2.0, 0.5, 7.0, 8.0, 3.0, 9.0, 6.0, 4.0], inplace=True)

In [93]:
#lets check to make sure our strings were replaced with floats
X_loan_test['Years in current job'].unique()

array([10.5,  8. ,  2. ,  6. ,  4. ,  5. ,  9. ,  0.5,  3. ,  0. ,  1. ,
        7. ])

In [94]:
#everything looks good (above)
# now let's double check that we successfully got rid of all null values
X_loan_train['Years in current job'].isnull().sum()

0

In [95]:
#all looks good (above)
#lets take a look at how our data is looking now
X_loan_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43140 entries, 144251 to 212271
Data columns (total 18 columns):
Loan ID                         43140 non-null object
Customer ID                     43140 non-null object
Current Loan Amount             43140 non-null int64
Term                            43140 non-null object
Credit Score                    43140 non-null float64
Years in current job            43140 non-null float64
Home Ownership                  43140 non-null object
Annual Income                   43140 non-null float64
Purpose                         43140 non-null object
Monthly Debt                    43140 non-null object
Years of Credit History         43140 non-null float64
Months since last delinquent    43140 non-null float64
Number of Open Accounts         43140 non-null int64
Number of Credit Problems       43140 non-null int64
Current Credit Balance          43140 non-null int64
Maximum Open Credit             43140 non-null object
Bankruptcies                    43140 non-null float64
Tax Liens                       43140 non-null float64
dtypes: float64(7), int64(4), object(7)
memory usage: 6.3+ MB

In [96]:
#all values are filled in because we see that all columns have the same number of rows

#now that values are filled in, we need to convert object values that wouldn't be classfied in dummies into numeric so the computer can read it

### Convert Monthly Debt (Test): object to numeric

In [97]:
X_loan_test['Monthly Debt'] = X_loan_test['Monthly Debt'].replace( '[\$, ]','', regex=True ).astype(float)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [98]:
#check the data to see if worked
X_loan_test['Monthly Debt'].head()

144251    1440.63
175664    2646.86
32747     3178.04
122673     794.00
125896     709.41
Name: Monthly Debt, dtype: float64

### Convert Maximum Open Credit (Test): Object to Numeric

In [118]:
X_loan_test['Maximum Open Credit'].unique()

array([37670, 27897, 70692, ..., 42192, 37936, 38745])

In [119]:
X_loan_test['Maximum Open Credit'].fillna(0, inplace=True)

In [101]:
X_loan_test['Maximum Open Credit'] = pd.to_numeric(X_loan_test['Maximum Open Credit'], errors='coerce')

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [120]:
#check to see if max open credit and monthly loan have been converted to numeric in the form of a float/int
X_loan_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43140 entries, 144251 to 212271
Data columns (total 16 columns):
Current Loan Amount             43140 non-null int64
Term                            43140 non-null object
Credit Score                    43140 non-null float64
Years in current job            43140 non-null float64
Home Ownership                  43140 non-null object
Annual Income                   43140 non-null float64
Purpose                         43140 non-null object
Monthly Debt                    43140 non-null float64
Years of Credit History         43140 non-null float64
Months since last delinquent    43140 non-null float64
Number of Open Accounts         43140 non-null int64
Number of Credit Problems       43140 non-null int64
Current Credit Balance          43140 non-null int64
Maximum Open Credit             43140 non-null int64
Bankruptcies                    43140 non-null float64
Tax Liens                       43140 non-null float64
dtypes: float64(8), int64(5), object(3)
memory usage: 5.6+ MB

In [121]:
X_loan_test['Maximum Open Credit'].isnull().sum()

0

Everything looks good an we have no move on to creating dummies for both X_loan_test and X_loan_train

## Drop the Uneccessary Columns

In [104]:
#drop loan id and customer id for both test and train df
X_loan_train.drop(['Loan ID','Customer ID'], axis=1, inplace=True)
X_loan_test.drop(['Loan ID','Customer ID'], axis=1, inplace=True)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [105]:
#check the df to double check that those columns have been dropped
print(X_loan_train.shape)
print(X_loan_test.shape)

(172560, 16)
(43140, 16)

### Dummies: X_Loan_Train & X_Loan_Test

We need to create dummies columns for the following columns:
1. Term
2. Home Ownership
3. Purpose

In [124]:
X_loan_train_dummies = pd.get_dummies(X_loan_train)
X_loan_test_dummies = pd.get_dummies(X_loan_test)

In [125]:
X_loan_train_dummies.isnull().sum()

Current Loan Amount             0
Credit Score                    0
Years in current job            0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
Term_Long Term                  0
Term_Short Term                 0
Home Ownership_HaveMortgage     0
Home Ownership_Home Mortgage    0
Home Ownership_Own Home         0
Home Ownership_Rent             0
Purpose_Business Loan           0
Purpose_Buy House               0
Purpose_Buy a Car               0
Purpose_Debt Consolidation      0
Purpose_Educational Expenses    0
Purpose_Home Improvements       0
Purpose_Medical Bills           0
Purpose_Other                   0
Purpose_Take a Trip             0
Purpose_other                   0
dtype: int64

In [126]:
X_loan_train_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172560 entries, 88212 to 19027
Data columns (total 29 columns):
Current Loan Amount             172560 non-null int64
Credit Score                    172560 non-null float64
Years in current job            172560 non-null float64
Annual Income                   172560 non-null float64
Monthly Debt                    172560 non-null float64
Years of Credit History         172560 non-null float64
Months since last delinquent    172560 non-null float64
Number of Open Accounts         172560 non-null int64
Number of Credit Problems       172560 non-null int64
Current Credit Balance          172560 non-null int64
Maximum Open Credit             172560 non-null float64
Bankruptcies                    172560 non-null float64
Tax Liens                       172560 non-null float64
Term_Long Term                  172560 non-null uint8
Term_Short Term                 172560 non-null uint8
Home Ownership_HaveMortgage     172560 non-null uint8
Home Ownership_Home Mortgage    172560 non-null uint8
Home Ownership_Own Home         172560 non-null uint8
Home Ownership_Rent             172560 non-null uint8
Purpose_Business Loan           172560 non-null uint8
Purpose_Buy House               172560 non-null uint8
Purpose_Buy a Car               172560 non-null uint8
Purpose_Debt Consolidation      172560 non-null uint8
Purpose_Educational Expenses    172560 non-null uint8
Purpose_Home Improvements       172560 non-null uint8
Purpose_Medical Bills           172560 non-null uint8
Purpose_Other                   172560 non-null uint8
Purpose_Take a Trip             172560 non-null uint8
Purpose_other                   172560 non-null uint8
dtypes: float64(9), int64(4), uint8(16)
memory usage: 21.1 MB

(above) a miracle happened and after i kept refreshing the max open credit FINALLy 0'd out. cause: unkown

In [127]:
#check that all null values are filled in for test df
X_loan_test_dummies.isnull().sum()

Current Loan Amount             0
Credit Score                    0
Years in current job            0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
Term_Long Term                  0
Term_Short Term                 0
Home Ownership_HaveMortgage     0
Home Ownership_Home Mortgage    0
Home Ownership_Own Home         0
Home Ownership_Rent             0
Purpose_Business Loan           0
Purpose_Buy House               0
Purpose_Buy a Car               0
Purpose_Debt Consolidation      0
Purpose_Educational Expenses    0
Purpose_Home Improvements       0
Purpose_Medical Bills           0
Purpose_Other                   0
Purpose_Take a Trip             0
Purpose_other                   0
dtype: int64

Test dummies looks good! All 0s above mean that there are no missing values in our df

# Modeling

In order to begin modeling, we go back to what our business problem is so we can determine what type of Machiene Learning we are dealing with. In this particular problem, we are looking to determine which of our customers are good or bad candidates for future loans. Because we are looking to predict an assumption based on our current history, we are definitely solving a machine learning problem. We are speficically solving a classifcation problem (not regression or unsupervised learning) because the output variable is a category. Our algorithm options are random.forest, naive bayes, logistic regression, gradient boosting and k-nearest neighbors.

Let's begin by trying the random forest classifer algorithm.

### Random Forest

In [128]:
#Import libraries for random forest
from sklearn.ensemble import RandomForestClassifier

#import metrics which will help us determine which algo to pursue
from sklearn.metrics import accuracy_score, roc_auc_score, precision_score, confusion_matrix

In [129]:
#assign unique name to random forest algo to make it easier to reference
rf = RandomForestClassifier()

In [130]:
#train the random forest algorithm
rf.fit(X_loan_train_dummies, y_loan_train)

/Users/alisonbunce/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [132]:
#make predictions
rf.predict(X_loan_test_dummies)

array(['Fully Paid', 'Fully Paid', 'Charged Off', ..., 'Fully Paid',
       'Charged Off', 'Fully Paid'], dtype=object)

In [134]:
#determine accuracy score
accuracy_score(y_loan_test, rf.predict(X_loan_test_dummies))

0.7918868799258229